






<div class="container-fluid">
	<div class="table-responsive">
		<div id="myalert" style="display: none;" class="alert alert-success col-12 text-center ml-auto" role="alert">
			Updated Successfully!
		  </div>
		<div class="table-wrapper">
			<div class="table-title">
				
				<div class="row">
					
					<div class="col-sm-6">
						<h2>Manage <b>Colleges</b></h2>
						
					</div>
				
					<div class="col-sm-6">
						<a href="#addCollegeModal" class="btn btn-success" data-toggle="modal"><span>Add New College</span></a>
				
					</div>

				
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>ClgId</th>
						<th>Name</th>
						<th>Address</th>
						<th>Accreditation</th>
						<th>Established Date</th>
						<th>Actions</th>
					</tr>
				</thead>

				<tr *ngIf="(colleges.length==0);else empList">
					<th colspan="6"> No data found<th>
				</tr>

				<ng-template #empList>
					<tbody *ngFor="let college of colleges">

						<tr>
							<td>
								{{college.id}}
							</td>
							<td>{{college.name}}</td>
							<td>{{college.address}}</td>
							<td>{{college.accreditation}}</td>
							<td>{{college.establishedDate}}</td>
							<td>
								<a (click)="editCollege(college)" href="#editCollegeModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
								<a (click)="editCollege(college)"  href="#deleteCollegeModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
							</td>
						</tr>
						
					</tbody>
				</ng-template>
				
			</table>
		
		</div>
	</div>        
</div>
<!-- Edit Modal HTML -->
<div id="addCollegeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form (ngSubmit)="createCollege()" >
				<div class="modal-header">						
					<h4 class="modal-title">Add College</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<div class="form-group">
						<label>Name</label>
						<input name="name" [(ngModel)]="newCollege.name" type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Address</label>
						<input name="address" [(ngModel)]="newCollege.address" type="address" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Accreditation</label>
						<input name="accreditation" [(ngModel)]="newCollege.accreditation" type="email" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Roll</label>
						<input type="date" name="establishedDate" [(ngModel)]="newCollege.establishedDate" class="form-control" required>
					</div>					
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input id="addBtn" type="submit" class="btn btn-success" value="Add">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Edit Modal HTML -->
<div id="editCollegeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form (ngSubmit)="updateCollege()">
				<div class="modal-header">						
					<h4 class="modal-title">Edit College</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
                    <div class="form-group">
						<label>Name</label>
						<input name="name" [(ngModel)]="updatedCollege.name" type="text" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Address</label>
						<input name="address" [(ngModel)]="updatedCollege.address" type="email" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Accrediation</label>
						<input name="accrediation" [(ngModel)]="updatedCollege.accreditation" type="email" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Roll</label>
						<input type="date" name="establishedDate" [(ngModel)]="updatedCollege.establishedDate" class="form-control" required>
					</div>						
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input id="editBtn" type="submit" class="btn btn-info" value="Save">
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteCollegeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form (ngSubmit)="deleteCollege(updatedCollege.id!)">
				<div class="modal-header">						
					<h4 class="modal-title">Delete College #{{updatedCollege.id}}</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
					<p>Are you sure you want to delete these Records?</p>
					<p class="text-warning">College Name: <small>{{updatedCollege.name}}</small></p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					<input id="deleteBtn" type="submit" class="btn btn-danger" value="Delete">
				</div>
			</form>
		</div>
	</div>
</div>
